<template>
    <div class="bg-gray-200 rounded text-gray-700 border-gray-400 border">
        <div class="h-auto md:h-12 py-2 px-3 flex justify-between items-center border-b border-gray-400">
            <div>
                <span class="mr-2">All Albums</span>
                <button @click="showCreateForm" class="rounded shadow py-1
                    px-2 text-white bg-green-600 text-sm transform focus:outline-none hover:scale-105">
                    <i class="fas fa-plus mr-1"></i>ALBUM
                </button>
            </div>
            <div class="flex">
                <input type="text" name="keyword" v-model="keyword" @keydown.enter="search"
                       class="h-auto md:h-8 w-48 rounded-tl rounded-bl border border-gray-400 placeholder-gray-600 bg-white py-1 px-2
                           text-gray-600 outline-none"
                       placeholder="Filter by album name...">
                <button @click="search"
                        class="rounded-tr rounded-br h-auto md:h-8 shadow py-1 px-2 text-white bg-teal-500 text-sm
                        focus:outline-none transform hover:scale-105">
                    <i class="fas fa-search mr-1"></i>Search
                </button>
            </div>
        </div>
        <div class="p-3 bg-white">
            <table v-if="albums.length" class="w-full">
                <tr>
                    <th>ID</th>
                    <th>Cover</th>
                    <th>Album</th>
                    <th>Actions</th>
                    <th>Linked To</th>
                </tr>
                <tr v-for="(al, index) in albums" :key="al.id">
                    <td class="text-center">{{ index + 1 }}</td>
                    <td>
                        <img :src="`${al.cover}`" class="shadow-md mx-auto" width="100px" height="75px" alt="">
                    </td>
                    <td class="text-center">{{ al.name }}</td>
                    <td class="text-center">
                        <button
                            @click="updateStatus(al, index)"
                            :class="[al.is_activated ? 'bg-green-600' : 'bg-gray-300', 'focus:outline-none rounded shadow p-1 text-white text-xs ' +
                             'transform hover:scale-105']">
                            {{ al.is_activated ? 'ACTIVATED' : 'INACTIVATED' }}
                        </button>
                        <a :href="`/admin/albums/`+al.slug+`/photos`">
                            <button
                                class="ml-1 rounded shadow p-1 text-white bg-yellow-600 text-xs transform
                                focus:outline-none hover:scale-105">
                                PHOTO
                            </button>
                        </a>
                        <a :href="`/admin/albums/`+al.slug+`/videos`">
                            <button
                                class="ml-1 rounded shadow p-1 text-white bg-blue-600 text-xs transform focus:outline-none
                                hover:scale-105">
                                VIDEOS
                            </button>
                        </a>
                        <button @click="showEditForm(al, index)"
                                class="ml-1 rounded shadow p-1 text-white bg-orange-600 text-xs focus:outline-none transform
                            hover:scale-105">
                            Edit
                        </button>
                        <button @click="remove(al.slug, index)"
                            class="ml-1 rounded shadow p-1 text-white bg-red-600 text-xs focus:outline-none
                         transform hover:scale-105"
                                style="height:26px">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                    <td class="text-center">Bike Tour to Hidden Beach</td>
                </tr>
            </table>
            <p v-else>No album yet</p>
        </div>

        <modal referer="album-form">
            <div>
                <p>What's album name?</p>
                <input type="text" name="name" v-model="name"
                       class="h-auto mt-1 md:h-8 w-full rounded-tl rounded-bl border border-gray-400 placeholder-gray-600 bg-white py-1 px-2
                           text-gray-600 outline-none"
                       placeholder="Album name">
                <p class="mt-3 mb-1">Please upload album's cover image:</p>
                <croppa v-model="image"
                        :prevent-white-space="false"
                        canvas-color="lightblue"
                        :placeholder-font-size="0"
                        :width="285"
                        :height="213"
                        :initial-image="initialImage"
                        :quality="1"> <!-- Quality 0.5 will produce image with half dimension -->
                </croppa>
                <button @click="slug ? save() : create()"
                        class="mt-2 block rounded h-auto md:h-8 shadow py-1 px-2 text-white bg-teal-500 text-sm
                        focus:outline-none transform hover:scale-105">
                    {{ slug ? 'Save' : 'Create' }}
                </button>
                <p v-if="Object.keys(errors.errors).length > 0" class="mt-1 text-red-700 text-sm">
                    <i class="fa fa-times-circle"></i>
                    {{ Object.values(errors.errors)[0][0] }}
                </p>
            </div>
        </modal>
    </div>
</template>
<script>
import Errors from "./../../errors.js";

export default {
    props: ['data', 'locations'],
    data() {
        return {
            image: {}, name: '', initialImage: null, slug: null, index: null,
            albums: this.data, keyword: null,
            errors: new Errors(),
        }
    },
    watch: {
        slug() {
            this.errors.reset()
        }
    },
    methods: {
        async search() {
            const {data} = await axios.get('/admin/albums?search=' + this.keyword)
            this.albums = data
        },
        showCreateForm() {
            this.slug = null
            this.initialImage = null
            this.$store.commit('SET_MODAL_REF', 'album-form')
        },
        showEditForm(album, index) {
            this.slug = album.slug
            this.name = album.name
            this.index = index
            this.initialImage = album.cover
            this.$store.commit('SET_MODAL_REF', 'album-form')
        },
        async updateStatus(album, index) {
            try {
                const {data} = await axios.put('/admin/albums/' + album.slug, {
                    is_activated: !album.is_activated
                })
                this.$set(this.albums, index, data)
            } catch (error) {
                this.errors.record(error.response.data.errors);
            }
        },
        remove(slug, index) {
            try {
                this.$toasted.info("Are you sure?", {
                    icon: "bug",
                    duration: null,
                    action: [
                        {
                            text: "Cancel",
                            onClick: (e, toastObject) => {
                                toastObject.goAway(0);
                            },
                        },
                        {
                            text: "Yes",
                            onClick: async (e, toastObject) => {
                                toastObject.goAway(0);
                                await axios.delete('/admin/albums/' + slug)
                                this.albums.splice(index, 1)
                                this.$toasted.success("Done! Album removed", {
                                    icon: "star",
                                });
                            }
                        }
                    ]
                });

            } catch (error) {
                this.errors.record(error.response.data.errors);
            }
        },
        async create() {
            if (!this.image.hasImage()) {
                this.$toasted.error("Whoops! No image selected", {
                    icon: "bug",
                });

                return false;
            }

            await this.submit()
        },
        async save() {
            await this.submit()
        },
        async submit() {
            let data = new FormData();

            if (this.image.getChosenFile()) {
                data.append('image', await this.image.promisedBlob());
                data.append('filename', this.image.getChosenFile().name);
            }

            data.append('name', this.name)
            if (this.slug) {
                data.append('_method', 'put')
            }

            try {
                const uri = this.slug ? '/admin/albums/' + this.slug : '/admin/albums'
                const response = await axios.post(uri, data)
                this.slug ? this.albums[this.index] = response.data : this.albums.unshift(response.data)
                this.resetForm()
                this.$toasted.success("Good job! Album " + (this.slug ? 'saved' : 'created') + '.', {
                    icon: "star",
                });
            } catch (error) {
                console.log(error)
                this.errors.record(error.response.data.errors);
            }
        },
        resetForm() {
            this.errors.reset()
            this.name = ''
            this.$store.commit('SET_MODAL_REF', null)
        }
    }
}
</script>
