@import "tailwindcss/base";

@import "tailwindcss/components";

nav .active {
    @apply inline-block bg-orangeMain rounded text-sm text-white transform -skew-x-12;
}

nav .active > span {
    @apply transform skew-x-12 block;
}

nav .active:hover {
    @apply text-white;
}

@import "tailwindcss/utilities";
