<template>
  <div ref="forgot-password" class="text-gray-600 text-center">
    <h1 class="text-xl md:text-xl">Agent Reset Password</h1>
    <hr class="mt-1 mb-2" />
    <div class="mb-2">
      <div class="text-sm mb-2 md:mb-0 md:text-base w-full">
        <label for="Email">YOUR EMAIL</label>
        <input
          v-model="formRequest.email"
          type="email"
          name="email"
          required
          class="rounded text-gray-800 w-full p-2 bg-gray-200 placeholder-gray-600 border-transparent focus:outline-none focus:border focus:border-red-700"
        />
      </div>
      <div v-if="!requestReset" class="grid grid-cols-1 col-gap-3 md:grid-cols-2">
        <div class="text-sm md:text-base">
          <label for="Password">YOUR PASSWORD</label>
          <input
            v-model="formRequest.password"
            type="password"
            name="password"
            required
            class="rounded text-gray-800 p-2 w-full bg-gray-200 placeholder-gray-600 border-transparent focus:outline-none focus:border-red-700"
          />
        </div>
        <div class="text-sm md:text-base">
          <label for="Password">CONFIRM PASSWORD</label>
          <input
            v-model="formRequest.password_confirmation"
            type="password"
            name="password_confirmation"
            required
            class="rounded text-gray-800 p-2 w-full bg-gray-200 placeholder-gray-600 border-transparent focus:outline-none focus:border-red-700"
          />
        </div>
      </div>
      <button
        class="rounded-full p-1 text-white font-bold mt-3 transform hover:scale-110 focus:outline-none"
        style="background-image:linear-gradient(to bottom right,#c6070e,#eb462a)"
        @click="requestReset ? request() : reset()"
      >
        <font-awesome-icon v-if="loading" icon="spinner" class="text-white w-4 h-4 mr-1" spin></font-awesome-icon>
        {{ requestReset ? 'Send Password Reset Link' : 'Reset Password' }}
      </button>
    </div>
    <p v-if="errMessage" class="text-center text-sm text-red-600">
      <font-awesome-icon icon="exclamation-circle"></font-awesome-icon>
      {{ errMessage }}
    </p>
    <p
      class="text-center cursor-pointer mt-2 text-sm text-red-600 hover:text-red-800"
      @click="showLoginModal"
    >Login</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      requestReset: true,
      loading: false,
      errMessage: null,
      formRequest: {
        token: this.$route.params.token,
      },
    };
  },
  mounted() {
    if (this.$route.path.includes("/password/reset/"))
      this.requestReset = false;
    // this.$auth.logout()
  },
  methods: {
    async request() {
      this.errMessage = null;
      this.loading = true;
      try {
        await this.$axios.get("/sanctum/csrf-cookie");
        await this.$axios.post("/api/password/email", this.formRequest);
        this.loading = false;
        this.$store.commit("SET_SHOW_MODAL_REF", null);
        this.$toast.success(
          "Email contains reset password link was sent to your mailbox!",
          {
            icon: "star",
          }
        );
      } catch (err) {
        this.loading = false;
        // console.log(err)
        const errorMes = err.response.data.errors;
        this.errMessage = errorMes[Object.keys(errorMes)[0]][0];
      }
    },
    async reset() {
      this.errMessage = null;
      this.loading = true;
      try {
        await this.$axios.get("/sanctum/csrf-cookie");
        await this.$axios.post("/api/password/reset", this.formRequest);
        const res = await this.$auth.loginWith("laravelSanctum", {
          data: this.formRequest,
        });
        this.$auth.setUser(res.data.user);
        this.loading = false;
        this.$store.commit("SET_SHOW_MODAL_REF", null);
        this.$router.push({ path: "/" });
        this.$toast.success("Your password was reset successfully!", {
          icon: "star",
        });
      } catch (err) {
        this.loading = false;
        // console.log(err)
        const errorMes = err.response.data.errors;
        this.errMessage = errorMes[Object.keys(errorMes)[0]][0];
      }
    },
    showLoginModal() {
      this.$store.commit("SET_SHOW_MODAL_REF", null);
      this.$nextTick(() =>
        this.$store.commit("SET_SHOW_MODAL_REF", "login-modal")
      );
    },
  },
};
</script>
