<template>
    <!-- Login/Register Modal -->
    <modal referer="login-modal">
        <div class="border-2 border-orangeMain py-3 px-5">
            <div class="flex justify-between">
                <h1
                    class="font-medium text-gray-700 text-2xl"
                >{{ showLogin ? 'LOG IN TO YOUR ACCOUNT' : 'Register new account' }}</h1>
                <i
                    @click="$store.commit('SET_MODAL_REF','')"
                    class="far fa-times-circle hover:text-red-600 cursor-pointer"
                ></i>
            </div>
            <div v-if="showLogin">
                <div class="mt-3 mb-2">
                    <input
                        id="email_input"
                        type="text"
                        v-model="forms.email"
                        :class="[errorss.getClass('email'),'w-full mb-2 h-10 py-1 px-2 border rounded border-gray-500 placeholder-gray-600 text-sm focus:outline-none focus:border-orangeMain text-orangeMain']"
                        placeholder="Email"
                    />
                    <input
                        type="password"
                        v-model="forms.password"
                        @keydown.enter="login"
                        :class="[errorss.getClass('password'),'w-full h-10 py-1 px-2 border rounded border-gray-500 placeholder-gray-600 text-sm focus:outline-none focus:border-orangeMain text-orangeMain']"
                        placeholder="Password"
                    />
                </div>
                <div class="flex justify-between">
                    <div>
                        <label class="text-gray-700 cursor-pointer">
                            <input type="checkbox" v-model="forms.remember"/> Remember me
                        </label>
                    </div>
                    <a
                        href
                        @click.prevent="$store.commit('SET_MODAL_REF','reset-modal')"
                        class="text-orangeMain text-xm hover:text-yellow-700"
                    >Forgot Password?</a>
                </div>
            </div>
            <div v-else>
                <div class="flex mb-2">
                    <select
                        v-model="forms.title"
                        :class="[errorss.getClass('title'),'h-10 w-16 mr-3 border bg-white rounded border-gray-500 text-sm focus:outline-none focus:border-orangeMain text-orangeMain']"
                    >
                        <option value disabled>Title</option>
                        <option value="Mrs">Prof.</option>
                        <option value="Mrs">Dr.</option>
                        <option value="Mr">Mr.</option>
                        <option value="Ms">Mrs.</option>
                        <option value="Mrs">Ms.</option>
                    </select>
                    <input
                        type="text"
                        v-model="forms.firstname"
                        :class="[errorss.getClass('firstname'),'w-full h-10 py-1 px-2 border rounded border-gray-500 placeholder-gray-600 text-sm focus:outline-none focus:border-orangeMain text-orangeMain']"
                        placeholder="First Name"
                    />
                </div>
                <input
                    type="text"
                    v-model="forms.lastname"
                    :class="[errorss.getClass('lastname'),'w-full mb-2 h-10 py-1 px-2 border rounded border-gray-500 placeholder-gray-600 text-sm focus:outline-none focus:border-orangeMain text-orangeMain']"
                    placeholder="Last Name"
                />
                <input
                    type="text"
                    v-model="forms.email"
                    :class="[errorss.getClass('email'),'w-full mb-2 h-10 py-1 px-2 border rounded border-gray-500 placeholder-gray-600 text-sm focus:outline-none focus:border-orangeMain text-orangeMain']"
                    placeholder="Email"
                />
                <input
                    type="password"
                    v-model="forms.password"
                    :class="[errorss.getClass('password'),'w-full h-10 mb-2 py-1 px-2 border rounded border-gray-500 placeholder-gray-600 text-sm focus:outline-none focus:border-orangeMain text-orangeMain']"
                    placeholder="Retype Password"
                />
                <input
                    type="password"
                    v-model="forms.password_confirmation"
                    @keydown.enter="register"
                    :class="[errorss.getClass('password_confirmation'),'w-full h-10 py-1 px-2 border rounded border-gray-500 placeholder-gray-600 text-sm focus:outline-none focus:border-orangeMain text-orangeMain']"
                    placeholder="Password"
                />
            </div>
            <div class="text-center">
                <a
                    href
                    @click.prevent="showLogin ? login() : register()"
                    class="uppercase mt-3 p-1 font-medium inline-block bg-orangeMain rounded text-sm text-white transform -skew-x-12 hover:bg-yellow-600"
                >
                    <span class="transform skew-x-12 block ml-2" v-html="loginButtonText"></span>
                </a>
                <span
                    @click="showLogin = !showLogin"
                    class="ml-3 text-orangeMain font-medium hover:text-yellow-700 cursor-pointer italic"
                >{{ !showLogin ? 'Login' : 'Sign Up' }}</span>
            </div>
            <p v-if="Object.keys(errorss.errors).length > 0" class="text-center text-red-700 text-sm">
                <i class="fa fa-times-circle"></i>
                {{ Object.values(errorss.errors)[0][0] }}
            </p>
            <div class="py-3 text-center text-gray-700">OR</div>
            <div class="grid grid-cols-1 row-gap-2 md:grid-cols-2 md:col-gap-2">
                <a
                    href="/redirect?using=facebook"
                    class="text-white text-sm py-1 px-3 rounded bg-blue-800 block text-center hover:bg-blue-900"
                >
                    <i class="fab fa-facebook mr-2"></i>Login with Facebook
                </a>
                <a
                    href="/redirect?using=google"
                    class="text-white text-sm py-1 px-3 rounded bg-red-700 block text-center hover:bg-red-800"
                >
                    <i class="fab fa-google mr-2"></i>Login with Google
                </a>
            </div>
        </div>
    </modal>
</template>
<script>
import Errors from "./../errors.js";
import Modal from "./Modal.vue";

export default {
    components: {Modal},
    props: ["shouldShow", "prevUrl", "showRegister"],
    data() {
        return {
            loading: false,
            errorss: new Errors(),
            forms: {title: ""},
            showLogin: this.showRegister ? !this.showRegister : true,
        };
    },
    mounted() {
        if (this.shouldShow) {
            this.$store.commit("SET_MODAL_REF", "login-modal");
        }
    },
    computed: {
        loginButtonText() {
            const txt = this.loading
                ? `<i class="fas fa-cog fa-spin text-white"></i>`
                : this.showLogin
                    ? "LOGIN"
                    : "SIGN UP";
            return txt + `<i class="fas fa-chevron-right ml-2"></i>`;
        },
    },
    methods: {
        login() {
            this.loading = true;
            axios
                .post("/login", this.forms)
                .then(({data}) => {
                    if (/* data.hasOwnProperty("prev_url") */ this.prevUrl)
                        location.href = this.prevUrl; //data.prev_url;

                    this.$store.commit("SET_MODAL_REF", "");
                    this.$toasted.success("Good job! You are now logged in.", {
                        icon: "star",
                    });
                    this.loading = false;
                    this.errorss.reset();
                    this.$store.commit("SET_USER", data.user);
                    this.$store.commit("SET_LOGGED_IN", data.loggedIn);
                    /* this.$parent.user = window.App.user = data.user;
                    this.$parent.signedIn = data.user.id;
                    this.$parent.isAdmin = data.user.isAdmin;
                    axios.defaults.headers.common["X-CSRF-TOKEN"] = data.token;
                    window.Events.$emit("justLoggedIn"); */
                })
                .catch((error) => {
                    this.loading = false;
                    this.errorss.record(error.response.data.errors);
                    document.getElementById("email_input").focus();
                    //this.$refs.email.focus();
                });
        },
        async register() {
            this.loading = true;
            try {
                const {data} = await axios.post("/register", this.forms);
                if (data.hasOwnProperty("prev_url")) location.href = data.prev_url;

                this.$store.commit("SET_MODAL_REF", "");
                this.$toasted.success(
                    "Thank for registration! Please check your mailbox to verify your email.",
                    {
                        icon: "thumbs-up",
                    }
                );
                this.loading = false;
                this.errorss.reset();
                this.$store.commit("SET_USER", data.user);
                this.$store.commit("SET_LOGGED_IN", data.loggedIn);
            } catch (error) {
                this.loading = false;
                this.errorss.record(error.response.data.errors);
            }
        },
    },
};
</script>
<style>
.red {
    border: 1px solid red !important;
}
</style>

