<template>
  <div>
    <transition name="fade">
      <div
        v-if="showModal"
        class="fixed inset-0 z-100"
        style="background-color: rgba(0, 0, 0, 0.3)"
        @click="$store.commit('SET_MODAL_REF','')"
      ></div>
    </transition>
    <transition name="slide">
      <div
        v-if="showModal"
        :class="[
          'modal',
          'fixed',
          'rounded-md',
          'p-3',
          'z-200',
          'bg-white',
          size,
          'shadow-xl',
          'overflow-y-scroll',
          'max-h-full'
        ]"
        :style="`height:${height}`"
      >
        <slot></slot>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "modal",
  props: {
    referer: { type: String, default: null },
    size: {
      type: String,
      default: "sm",
    },
    height: {
      type: String,
      default: "auto",
    },
  },
  /* data() {
    return {
      showModal: true,
    };
  }, */
  computed: {
    showModal() {
      return this.referer == this.$store.state.modalRef;
    },
  },
  watch: {
    showModal(newValue) {
      if (newValue === true) {
        document.body.style.top = `-${window.scrollY}px`;
        document.body.style.position = "fixed";
      } else {
        const scrollY = document.body.style.top;
        document.body.style.position = "";
        document.body.style.top = "";
        window.scrollTo(0, parseInt(scrollY || "0") * -1);
      }
    },
  },
};
</script>

<style scoped>
/* Make modal content to scroll smooth & faster on iOS */
.modal {
  -webkit-overflow-scrolling: touch;
}
.sm,
.lg {
  @apply w-11/12;
}
@screen md {
  .sm {
    width: 600px;
  }
  .lg {
    width: 600px;
  }
}
@screen lg {
  .lg {
    width: 900px;
  }
}
.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s;
}

.slide-enter,
.slide-leave-to {
  transform: translateY(-50%) translateX(100vw);
}
</style>
