<template>
  <!-- Login/Register Modal -->
  <modal referer="reset-modal">
    <div class="border-2 border-orangeMain py-3 px-5">
      <div class="flex justify-between">
        <h1
          class="font-medium text-gray-700 text-2xl"
        >{{requestReset ? 'Request Reset Password' : 'Reset Password'}}</h1>
        <i
          @click="$store.commit('SET_MODAL_REF','')"
          class="far fa-times-circle hover:text-red-600 cursor-pointer"
        ></i>
      </div>
      <div class="mt-3 mb-2">
        <input
          id="email_input_reset"
          type="text"
          v-model="forms.email"
          :class="[errorss.getClass('email'),'w-full mb-2 h-10 py-1 px-2 border rounded border-gray-500 placeholder-gray-600 text-sm focus:outline-none focus:border-orangeMain text-orangeMain']"
          placeholder="Your Email"
        />
      </div>
      <div v-if="!requestReset">
        <input
          type="password"
          v-model="forms.password"
          :class="[errorss.getClass('password'),'w-full h-10 mb-2 py-1 px-2 border rounded border-gray-500 placeholder-gray-600 text-sm focus:outline-none focus:border-orangeMain text-orangeMain']"
          placeholder="Retype Password"
        />
        <input
          type="password"
          v-model="forms.password_confirmation"
          @keydown.enter="reset"
          :class="[errorss.getClass('password_confirmation'),'w-full h-10 py-1 px-2 border rounded border-gray-500 placeholder-gray-600 text-sm focus:outline-none focus:border-orangeMain text-orangeMain']"
          placeholder="Password"
        />
      </div>
      <div class="text-center">
        <a
          href
          @click.prevent="requestReset ? request() : reset()"
          class="uppercase mt-3 p-1 font-medium inline-block bg-orangeMain rounded text-sm text-white transform -skew-x-12 hover:bg-yellow-600"
        >
          <span class="transform skew-x-12 block ml-2" v-html="resetButtonText"></span>
        </a>
      </div>
      <p v-if="Object.keys(errorss.errors).length > 0" class="text-center text-red-700 text-sm">
        <i class="fa fa-times-circle"></i>
        {{Object.values(errorss.errors)[0][0]}}
      </p>
    </div>
  </modal>
</template>
<script>
import Errors from "./../errors.js";
import Modal from "./Modal.vue";
export default {
  props: ["shouldShow", "token", "email"],
  components: { Modal },
  data() {
    return {
      loading: false,
      errorss: new Errors(),
      forms: { email: this.email || null },
      requestReset: true,
    };
  },
  mounted() {
    if (this.shouldShow) {
      this.$store.commit("SET_MODAL_REF", "reset-modal");
    }
    if (this.token) {
      this.requestReset = false;
    }
  },
  computed: {
    resetButtonText() {
      const txt = this.loading
        ? `<i class="fas fa-cog fa-spin text-white"></i>`
        : this.requestReset
        ? "Send Password Reset Link"
        : "Reset Password";
      return txt + `<i class="fas fa-chevron-right ml-2"></i>`;
    },
  },
  methods: {
    request() {
      this.loading = true;
      axios
        .post("/password/email", this.forms)
        .then(() => {
          this.$store.commit("SET_MODAL_REF", "");
          this.$toasted.success(
            "Email contains reset password link was sent to your mailbox!",
            {
              icon: "star",
            }
          );
          this.loading = false;
          this.errorss.reset();
        })
        .catch((error) => {
          this.loading = false;
          this.errorss.record(error.response.data.errors);
          document.getElementById("email_input_reset").focus();
          //this.$refs.email.focus();
        });
    },
    async reset() {
      this.loading = true;
      try {
        this.forms.token = this.token;
        const { data } = await axios.post("/password/reset", this.forms);

        this.$store.commit("SET_MODAL_REF", "");
        this.$toasted.success("Your password was reset successfully!", {
          icon: "thumbs-up",
        });
        this.loading = false;
        this.errorss.reset();
        this.$store.commit("SET_USER", data.user);
        this.$store.commit("SET_LOGGED_IN", data.loggedIn);
      } catch (error) {
        this.loading = false;
        this.errorss.record(error.response.data.errors);
      }
    },
  },
};
</script>
<style>
.red {
  border: 1px solid red !important;
}
</style>

