<template>
  <swiper class="swiper !pb-2 text-white" :options="swiperOption">
    <swiper-slide>
      <div class="relative">
        <div class="absolute top-0 left-0 ml-1">
          <h3
            class="font-medium py-1 px-2 rounded mt-1"
            style="background:rgba(20,47,58,0.6) url('/images/road-pattern.png') repeat"
          >Bike Tour</h3>
          <p
            class="py-1 px-2 rounded mt-1"
            style="background:rgba(20,47,58,0.6) url('/images/road-pattern.png') repeat"
          >1 day</p>
        </div>
        <img src="/images/yxfmm3gmkm.jpg" class="rounded w-full h-auto" alt />
        <div
          class="min-h-18 rounded-bl rounded-br flex justify-between items-center"
          style="background:#142f3a url('/images/road-pattern.png') repeat-x"
        >
          <div class="pl-3 pt-2">
            <h3 class="font-medium">Danang Food Tour</h3>
            <p class="text-sm text-orangeMain italic">From $23 (min 2 pax)</p>
          </div>
          <button class="rounded transform -skew-x-12 py-1 px-3 bg-orangeMain mr-4">
            <i class="fas fa-chevron-right fa-sm"></i>
          </button>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="relative">
        <div class="absolute top-0 left-0 ml-1">
          <h3
            class="font-medium py-1 px-2 rounded mt-1"
            style="background:rgba(20,47,58,0.6) url('/images/road-pattern.png') repeat"
          >Bike Tour</h3>
          <p
            class="py-1 px-2 rounded mt-1"
            style="background:rgba(20,47,58,0.6) url('/images/road-pattern.png') repeat"
          >1 day</p>
        </div>
        <img src="/images/yxfmm3gmkm.jpg" class="rounded w-full h-auto" alt />
        <div
          class="min-h-18 rounded-bl rounded-br flex justify-between items-center"
          style="background:#142f3a url('/images/road-pattern.png') repeat-x"
        >
          <h3 class="font-medium pl-3 pt-2">Danang Food Tour</h3>
          <button class="rounded transform -skew-x-12 py-1 px-3 bg-orangeMain mr-4">
            <i class="fas fa-chevron-right fa-sm"></i>
          </button>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="relative">
        <div class="absolute top-0 left-0 ml-1">
          <h3
            class="font-medium py-1 px-2 rounded mt-1"
            style="background:rgba(20,47,58,0.6) url('/images/road-pattern.png') repeat"
          >Bike Tour</h3>
          <p
            class="py-1 px-2 rounded mt-1"
            style="background:rgba(20,47,58,0.6) url('/images/road-pattern.png') repeat"
          >1 day</p>
        </div>
        <img src="/images/yxfmm3gmkm.jpg" class="rounded w-full h-auto" alt />
        <div
          class="min-h-18 rounded-bl rounded-br flex justify-between items-center"
          style="background:#142f3a url('/images/road-pattern.png') repeat-x"
        >
          <h3 class="font-medium pl-3 pt-2">Danang Food Tour</h3>
          <button class="rounded transform -skew-x-12 py-1 px-3 bg-orangeMain mr-4">
            <i class="fas fa-chevron-right fa-sm"></i>
          </button>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="relative">
        <div class="absolute top-0 left-0 ml-1">
          <h3
            class="font-medium py-1 px-2 rounded mt-1"
            style="background:rgba(20,47,58,0.6) url('/images/road-pattern.png') repeat"
          >Bike Tour</h3>
          <p
            class="py-1 px-2 rounded mt-1"
            style="background:rgba(20,47,58,0.6) url('/images/road-pattern.png') repeat"
          >1 day</p>
        </div>
        <img src="/images/yxfmm3gmkm.jpg" class="rounded w-full h-auto" alt />
        <div
          class="min-h-18 rounded-bl rounded-br flex justify-between items-center"
          style="background:#142f3a url('/images/road-pattern.png') repeat-x"
        >
          <h3 class="font-medium pl-3 pt-2">Danang Food Tour</h3>
          <button class="rounded transform -skew-x-12 py-1 px-3 bg-orangeMain mr-4">
            <i class="fas fa-chevron-right fa-sm"></i>
          </button>
        </div>
      </div>
    </swiper-slide>
    <i
      slot="button-next"
      class="far fa-arrow-alt-circle-right absolute bg-orangeMain text-white rounded-full z-20 outline-none"
    ></i>
    <i
      slot="button-prev"
      class="far fa-arrow-alt-circle-left absolute bg-orangeMain text-white rounded-full z-20 outline-none"
    ></i>
    <!-- <div class="swiper-button-prev" slot="button-prev"></div>
    <div class="swiper-button-next" slot="button-next"></div>-->
  </swiper>
</template>

<script>
export default {
  name: "swiper-example-responsive-breakpoints",
  title: "Responsive breakpoints",
  data() {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 15,
        breakpoints: {
          768: {
            slidesPerView: 3,
            spaceBetween: 15,
          },
        },
        navigation: {
          nextEl: ".fa-arrow-alt-circle-right",
          prevEl: ".fa-arrow-alt-circle-left",
        },
        /* navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                } */
      },
    };
  },
};
</script>
<style scoped>
.fa-arrow-alt-circle-right,
.fa-arrow-alt-circle-left {
  bottom: 0;
}
.fa-arrow-alt-circle-left {
  right: calc(50% + 10px);
}
.fa-arrow-alt-circle-right {
  right: calc(50% - 10px);
}
.swiper-button-disabled {
  background-color: #f8d36b;
  cursor: not-allowed;
}
</style>
