<template>
  <swiper class="swiper" :options="swiperOption">
    <swiper-slide>
      <div class="parallax-bg" style="background-image: url('/images/5o5ilqti6n_cover.jpg');"></div>
      <div class="md:container md:mx-auto md:px-3 md:h-full">
        <div
          class="absolute z-10 flex px-3 items-center bottom-0 w-full h-32 md:w-1/3 md:h-full md:transform md:-skew-x-12 md:ml-auto md:static md:mr-10"
          style="background-color: rgba(0, 0, 0, 0.3);"
        >
          <div class="transform md:skew-x-12 md:pl-10 md:w-10/12">
            <div
              class="font-medium md:ml-6 text-lg leading-snug w-64"
            >Hoi An - Son Tra Monkey Mountains</div>
            <div class="hidden md:block">
              <div class="mt-2 ml-3">
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit.
              </div>
              <a
                href
                class="uppercase -ml-2 mt-3 p-1 w-full font-medium inline-block bg-orangeMain rounded text-sm text-white transform -skew-x-12 hover:bg-yellow-600"
              >
                <span class="transform skew-x-12 block ml-2">
                  Find out more
                  <i class="fas fa-chevron-right ml-2"></i>
                </span>
              </a>
              <div class="text mt-4 mb-3">
                <a href class="block -ml-3 text-white font-medium text-orangeMain mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Moto Trip
                </a>
                <a href class="block -ml-4 text-white font-medium mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Bike Trip
                </a>
                <a href class="block -ml-5 text-white font-medium mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Car Trip
                </a>
                <a href class="block -ml-6 text-white font-medium mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Shore Excursion
                </a>
              </div>
              <i
                slot="button-previous"
                class="far -ml-8 fa-arrow-alt-circle-left text-orangeMain fa-lg outline-none"
              ></i>
              <i
                slot="button-next"
                class="far fa-arrow-alt-circle-right text-orangeMain fa-lg outline-none"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="parallax-bg" style="background-image: url('/images/cj2u9oztfb_cover.jpg');"></div>
      <div class="md:container md:mx-auto md:px-3 md:h-full">
        <div
          class="absolute z-10 flex px-3 items-center bottom-0 w-full h-32 md:w-1/3 md:h-full md:transform md:-skew-x-12 md:ml-auto md:static md:mr-10"
          style="background-color: rgba(0, 0, 0, 0.3);"
        >
          <div class="transform md:skew-x-12 md:pl-10 md:w-10/12">
            <div
              class="font-medium md:ml-6 text-lg leading-snug w-64"
            >Hoi An - Son Tra Monkey Mountains</div>
            <div class="hidden md:block">
              <div class="mt-2 ml-3">
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit.
              </div>
              <a
                href
                class="uppercase -ml-2 mt-3 p-1 w-full font-medium inline-block bg-orangeMain rounded text-sm text-white transform -skew-x-12 hover:bg-yellow-600"
              >
                <span class="transform skew-x-12 block ml-2">
                  Find out more
                  <i class="fas fa-chevron-right ml-2"></i>
                </span>
              </a>
              <div class="text mt-4 mb-3">
                <a href class="block -ml-3 text-white font-medium text-orangeMain mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Moto Trip
                </a>
                <a href class="block -ml-4 text-white font-medium mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Bike Trip
                </a>
                <a href class="block -ml-5 text-white font-medium mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Car Trip
                </a>
                <a href class="block -ml-6 text-white font-medium mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Shore Excursion
                </a>
              </div>
              <i class="far -ml-8 fa-arrow-alt-circle-left text-orangeMain fa-2x outline-none"></i>
              <i class="far fa-arrow-alt-circle-right text-orangeMain fa-2x outline-none"></i>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="parallax-bg" style="background-image: url('/images/78qdfsthy_cover.jpg');"></div>
      <div class="md:container md:mx-auto md:px-3 md:h-full">
        <div
          class="absolute z-10 flex px-3 items-center bottom-0 w-full h-32 md:w-1/3 md:h-full md:transform md:-skew-x-12 md:ml-auto md:static md:mr-10"
          style="background-color: rgba(0, 0, 0, 0.3);"
        >
          <div class="transform md:skew-x-12 md:pl-10 md:w-10/12">
            <div
              class="font-medium md:ml-6 text-lg leading-snug w-64"
            >Hoi An - Son Tra Monkey Mountains</div>
            <div class="hidden md:block">
              <div class="mt-2 ml-3">
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit.
              </div>
              <a
                href
                class="uppercase -ml-2 mt-3 p-1 w-full font-medium inline-block bg-orangeMain rounded text-sm text-white transform -skew-x-12 hover:bg-yellow-600"
              >
                <span class="transform skew-x-12 block ml-2">
                  Find out more
                  <i class="fas fa-chevron-right ml-2"></i>
                </span>
              </a>
              <div class="text mt-4 mb-3">
                <a href class="block -ml-3 text-white font-medium text-orangeMain mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Moto Trip
                </a>
                <a href class="block -ml-4 text-white font-medium mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Bike Trip
                </a>
                <a href class="block -ml-5 text-white font-medium mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Car Trip
                </a>
                <a href class="block -ml-6 text-white font-medium mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Shore Excursion
                </a>
              </div>
              <i class="far -ml-8 fa-arrow-alt-circle-left text-orangeMain fa-2x outline-none"></i>
              <i class="far fa-arrow-alt-circle-right text-orangeMain fa-2x outline-none"></i>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="parallax-bg" style="background-image: url('/images/danang1.jpg');"></div>
      <div class="md:container md:mx-auto md:px-3 md:h-full">
        <div
          class="absolute z-10 flex px-3 items-center bottom-0 w-full h-32 md:w-1/3 md:h-full md:transform md:-skew-x-12 md:ml-auto md:static md:mr-10"
          style="background-color: rgba(0, 0, 0, 0.3);"
        >
          <div class="transform md:skew-x-12 md:pl-10 md:w-10/12">
            <div
              class="font-medium md:ml-6 text-lg leading-snug w-64"
            >Hoi An - Son Tra Monkey Mountains</div>
            <div class="hidden md:block">
              <div class="mt-2 ml-3">
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit.
              </div>
              <a
                href
                class="uppercase -ml-2 mt-3 p-1 w-full font-medium inline-block bg-orangeMain rounded text-sm text-white transform -skew-x-12 hover:bg-yellow-600"
              >
                <span class="transform skew-x-12 block ml-2">
                  Find out more
                  <i class="fas fa-chevron-right ml-2"></i>
                </span>
              </a>
              <div class="text mt-4 mb-3">
                <a href class="block -ml-3 text-white font-medium text-orangeMain mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Moto Trip
                </a>
                <a href class="block -ml-4 text-white font-medium mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Bike Trip
                </a>
                <a href class="block -ml-5 text-white font-medium mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Car Trip
                </a>
                <a href class="block -ml-6 text-white font-medium mb-1">
                  <i class="fas fa-chevron-right fa-sm mr-1"></i>
                  Shore Excursion
                </a>
              </div>
              <i
                slot="button-previous"
                class="far -ml-8 fa-arrow-alt-circle-left text-orangeMain fa-2x outline-none"
              ></i>
              <i
                slot="button-next"
                class="far fa-arrow-alt-circle-right text-orangeMain fa-2x outline-none"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <i class="far fa-arrow-alt-circle-right absolute text-orangeMain fa-2x z-10 md:!hidden"></i>
    <i class="far fa-arrow-alt-circle-left absolute text-orangeMain fa-2x z-10 md:!hidden"></i>
    <!-- <div
            class="swiper-button-prev swiper-button-white"
            slot="button-prev"
        ></div>
        <div
            class="swiper-button-next swiper-button-white"
            slot="button-next"
    ></div>-->
  </swiper>
</template>

<script>
export default {
  name: "swiper-example-parallax",
  title: "Parallax",
  data() {
    return {
      swiperOption: {
        speed: 600,
        /* parallax: true, */
        /* pagination: {
                    el: ".swiper-pagination",
                    clickable: true
                }, */
        navigation: {
          nextEl: ".fa-arrow-alt-circle-right",
          prevEl: ".fa-arrow-alt-circle-left",
        },
      },
    };
  },
};
</script>

<style scoped>
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.swiper {
  width: 100%;
  height: 380px;
}
.swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  box-sizing: border-box;
  /* padding: 0 80px; */
  background-color: transparent;
}
.swiper-button-disabled {
  color: #f8d36b;
  cursor: not-allowed;
}
@media (max-width: 767px) {
  .fa-arrow-alt-circle-right {
    bottom: 20px;
    right: 30px;
  }
  .fa-arrow-alt-circle-left {
    bottom: 70px;
    right: 30px;
  }
}
</style>
