<template>
    <swiper class="swiper !pb-2" :options="swiperOption">
        <swiper-slide class="rounded border border-gray-700 py-2 px-4">
            <p class="mb-3 text-gray-700 italic leading-snug">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium, voluptatem beatae a ea accusantium tenetur ex
                delectus eius saepe nulla fugit necessitatibus dolores vel
                explicabo atque! Consequuntur quisquam sed beatae.
            </p>
            <p class="text-sm font-medium text-gray-700">
                Demo User, Australia
            </p>
        </swiper-slide>
        <swiper-slide class="rounded border border-gray-700 py-2 px-4">
            <p class="mb-3 text-gray-700 italic leading-snug">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium, voluptatem beatae a ea accusantium tenetur ex
                delectus eius saepe nulla fugit necessitatibus dolores vel
                explicabo atque! Consequuntur quisquam sed beatae.
            </p>
            <p class="text-sm font-medium text-gray-700">
                Demo User, Australia
            </p>
        </swiper-slide>
        <swiper-slide class="rounded border border-gray-700 py-2 px-4">
            <p class="mb-3 text-gray-700 italic leading-snug">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium, voluptatem beatae a ea accusantium tenetur ex
                delectus eius saepe nulla fugit necessitatibus dolores vel
                explicabo atque! Consequuntur quisquam sed beatae.
            </p>
            <p class="text-sm font-medium text-gray-700">
                Demo User, Australia
            </p>
        </swiper-slide>
        <i
            slot="button-next"
            class="far fa-arrow-alt-circle-right absolute bg-orangeMain text-white rounded-full z-20 outline-none"
        ></i>
        <i
            slot="button-prev"
            class="far fa-arrow-alt-circle-left absolute bg-orangeMain text-white rounded-full z-20 outline-none"
        ></i>
        <!-- <div class="swiper-button-prev" slot="button-prev"></div>
        <div class="swiper-button-next" slot="button-next"></div> -->
    </swiper>
</template>

<script>
export default {
    name: "swiper-example-responsive-breakpoints",
    title: "Responsive breakpoints",
    data() {
        return {
            swiperOption: {
                slidesPerView: 1,
                spaceBetween: 20,
                /* breakpoints: {
                    1024: {
                        slidesPerView: 3,
                        spaceBetween: 40
                    },
                    768: {
                        slidesPerView: 1,
                        spaceBetween: 30
                    },
                    640: {
                        slidesPerView: 1,
                        spaceBetween: 20
                    }
                }, */
                navigation: {
                    nextEl: ".fa-arrow-alt-circle-right",
                    prevEl: ".fa-arrow-alt-circle-left"
                }
                /* navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                } */
            }
        };
    }
};
</script>
<style scoped>
.fa-arrow-alt-circle-right,
.fa-arrow-alt-circle-left {
    bottom: 0;
}
.fa-arrow-alt-circle-left {
    right: calc(50% + 10px);
}
.fa-arrow-alt-circle-right {
    right: calc(50% - 10px);
}
.swiper-button-disabled {
    background-color: #f8d36b;
    cursor: not-allowed;
}
</style>
