<template>
  <!-- Testimonials -->
  <div class="container mx-auto w-11/12">
    <section class="pb-3 relative">
      <h1 class="text-2xl text-gray-700 text-center leading-tight xl:text-3xl">
        Testimonials
      </h1>
      <hr class="lines" />
      <p v-if="totalRank" class="text-base text-gray-600 mb-2 text-center">
        <span class="font-bold text-teal-400">{{ rank }}</span
        >{{ totalRank.slice(rank.length, totalRank.length) }}
      </p>
      <p class="mt-2 text-gray-600 text-center">
        Enjoyed our products?
        <a
          href="//bit.ly/2AzMbno"
          target="_blank"
          class="text-red-600 italic hover:text-red-700"
          >Please share with us</a
        >
      </p>
      <div
        id="testimonials"
        v-swiper:tesSwiper="swiperOptionTes"
        instance-name="tesSwiper"
      >
        <div class="swiper-wrapper">
          <div
            v-for="tes in testimonials"
            :key="tes.id"
            class="swiper-slide p-2"
          >
            <div>
              <div
                v-if="!tes.avatar"
                class="float-left mr-3 text-xl rounded bg-yellow-500 text-white font-semibold flex justify-center items-center"
                style="width: 56px; height: 56px;"
              >
                {{ tes.username.slice(0, 1) }}
              </div>
              <img
                v-else
                class="float-left mr-3 rounded"
                style="width: 56px; height: 56px;"
                :src="$api_file(`images/testimonials/${tes.avatar}`)"
              />
              <p class="text-red-600 font-semibold leading-none">
                {{ tes.username }}
              </p>
              <p
                class="mt-1 text-sm text-gray-600 leading-tight overflow-hidden"
                style="height: 36px;"
              >
                Review on:
                <a
                  class="text-red-500 hover:text-red-700"
                  :href="tes.review_on.link"
                  >{{ tes.review_on.title }}</a
                >
              </p>
              <div style="margin-left: 68px;">
                <font-awesome-icon
                  v-for="i in 5"
                  :key="`star_${tes.id}_${i}`"
                  class="text-red-700 fa-sm"
                  :class="i <= tes.rating ? 'text-red-700' : '!text-gray-400'"
                  icon="star"
                ></font-awesome-icon>
                <img
                  :src="`/images/OTAs/${tes.from}.svg`"
                  class="h-6 w-auto inline-block"
                  style="margin-bottom: 2px;"
                  :alt="tes.from"
                />
              </div>
            </div>
            <hr class="mt-1" />
            <p class="mt-2 text-gray-600 leading-tight">
              <client-only>
                <TrimParagraph
                  :text="tes.body"
                  :initial-length="100"
                  @clickMore="$nextTick(() => tesSwiper.updateAutoHeight())"
                  @clickLess="clickLess"
              /></client-only>
            </p>
          </div>
        </div>
        <div slot="pagination" class="swiper-pagination"></div>
      </div>
    </section>
  </div>
</template>

<script>
import TrimParagraph from "TrimParagraph.vue";
export default {
  components: {
    // eslint-disable-next-line vue/no-unused-components
    TrimParagraph,
  },
  data() {
    return {
      swiperOptionTes: {
        spaceBetween: 8,
        slidesPerView: "auto",
        autoHeight: true,
        grabCursor: true,
        keyboard: {
          enabled: true,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          1024: {
            slidesPerView: 3,
            spaceBetween: 8,
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 8,
          },
          640: {
            slidesPerView: 1,
            spaceBetween: 8,
          },
        },
      },
    };
  },
  methods: {
    clickLess() {
      this.$scrollTo("#testimonials");
      this.$nextTick(() => this.tesSwiper.updateAutoHeight());
    },
  },
};
</script>
