<template>
  <div>
    <swiper class="swiper !px-2" :options="swiperOption">
      <swiper-slide v-for="(photo,index) in photos" :key="`photo${index}`">
        <img :src="photo.thumb" @click="thumbClicked(index)" alt class="cursor-pointer" />
      </swiper-slide>
      <i
        slot="button-next"
        class="far fa-arrow-alt-circle-right absolute bg-orangeMain text-white rounded-full z-20 outline-none"
      ></i>
      <i
        slot="button-prev"
        class="far fa-arrow-alt-circle-left absolute bg-orangeMain text-white rounded-full z-20 outline-none"
      ></i>
    </swiper>

    <CoolLightBox :items="photos" :index="index" loop @close="index = null"></CoolLightBox>
  </div>
</template>

<script>
import CoolLightBox from "vue-cool-lightbox";
import "vue-cool-lightbox/dist/vue-cool-lightbox.min.css";
export default {
  name: "swiper-example-loop-group",
  title: "Loop mode with multiple slides per group",
  components: { CoolLightBox },
  data() {
    return {
      swiperOption: {
        slidesPerView: 3,
        spaceBetween: 15,
        slidesPerGroup: 3,
        /* loop: true,
                loopFillGroupWithBlank: true, */
        navigation: {
          nextEl: ".fa-arrow-alt-circle-right",
          prevEl: ".fa-arrow-alt-circle-left",
        },
      },
      photos: [
        {
          src: "/images/5o5ilqti6n_cover.jpg",
          description: "Image 1",
          thumb: "/images/apple-touch-icon.png",
        },
        {
          src: "/images/78qdfsthy_cover.jpg",
          description: "Image 2",
          thumb: "/images/triumph-bonneville-t100-jet-black.png",
        },
        {
          src: "/images/cj2u9oztfb_cover.jpg",
          description: "Image 3",
          thumb: "/images/yxfmm3gmkm.jpg",
        },
      ],
      index: null,
    };
  },
  methods: {
    thumbClicked(index) {
      this.index = index;
    },
  },
};
</script>
<style scoped>
.fa-arrow-alt-circle-right,
.fa-arrow-alt-circle-left {
  top: calc(50% - 6px);
}
.fa-arrow-alt-circle-left {
  left: 0;
}
.fa-arrow-alt-circle-right {
  right: 0;
}
.swiper-button-disabled {
  background-color: #f8d36b;
  cursor: not-allowed;
}
</style>
