<template></template>
<script>
export default {
  props: {
    message: { type: String, default: "" },
    type: { type: String, default: "success" },
    action: { type: Boolean, default: false },
  },
  computed: {
    icon() {
      switch (this.type) {
        case "error":
          return "exclamation-circle";
        case "success":
          return "star";
        case "info":
          return "info-circle";
      }
    },
  },
  mounted() {
    let options = {
      icon: this.icon,
    };
    if (this.message) {
      if (this.action)
        options = Object.assign({}, options, {
          duration: null,
          action: [
            {
              text: "Cancel",
              onClick: (e, toastObject) => {
                toastObject.goAway(0);
              },
            },
          ],
        });
      this.$toasted[this.type](this.message, options);
    }
  },
};
</script>