<template>
  <p>
    {{ shortenText }}
    <span
      v-if="text !== shortenText"
      class="text-red-700 cursor-pointer"
      @click="clickMore"
    >
      more</span
    >
    <span
      v-else-if="text.length > initialLength"
      class="text-red-700 cursor-pointer"
      @click="clickLess"
    >
      less</span
    >
  </p>
</template>

<script>
import { shorten } from "../helpers.js";
export default {
  props: {
    text: {
      type: String,
      default: "",
    },
    initialLength: {
      type: Number,
      default: 400,
    },
  },
  data() {
    return {
      maxLength: this.initialLength,
    };
  },
  computed: {
    shortenText() {
      return this.shorten(this.text, this.maxLength);
    },
  },
  methods: {
    shorten,
    clickMore() {
      this.maxLength = 1000000;
      this.$emit("clickMore");
    },
    clickLess() {
      this.maxLength = this.initialLength;
      this.$emit("clickLess");
      // this.$scrollTo('p')
    },
  },
};
</script>
