<template>
  <span>
    <a
      href
      v-if="!$store.state.loggedIn"
      @click.prevent="$store.commit('SET_MODAL_REF','login-modal')"
      class="block ml-0 md:inline uppercase p-1 font-medium hover:text-orangeMain md:ml-6"
    >
      <span>
        <i class="fas fa-user"></i>
      </span>
    </a>
    <span v-else x-data="{ openSub3: false }" class="relative">
      <span
        x-on:click="openSub3=true"
        class="block ml-0 md:inline uppercase p-1 font-medium hover:text-orangeMain md:ml-6 cursor-pointer"
      >
        <span class="font-light">Hi,</span>
        {{$store.state.user.firstname}}
      </span>
      <ul
        x-show.transition.in="openSub3"
        x-on:click.away="openSub3 = false"
        class="ml-4 my-2 md:absolute md:z-50 md:bg-white md:w-48 md:pt-4 md:rounded md:p-3 md:border md:border-gay-400 md:shadow-md"
      >
        <a :href="$store.state.user.isAdmin ? '/admin/dashboard' : '/user/dashboard'">
          <li class="hover:text-orangeMain">Dashboard</li>
        </a>
        <a href>
          <li class="mt-1 hover:text-orangeMain">Favorites</li>
        </a>
        <a href>
          <li class="mt-1 hover:text-orangeMain">Cart</li>
        </a>
        <slot></slot>
        <!-- <li class="mt-1 hover:text-orangeMain">
          <a href @click.prevent="logout">Logout</a>
        </li>-->
      </ul>
    </span>
  </span>
</template>
<script>
export default {
  props: ["loggedIn", "user"],
  mounted() {
    this.$store.commit("SET_LOGGED_IN", this.loggedIn);
    this.$store.commit("SET_USER", this.user);
  },
  methods: {
    logout() {
      axios.post("/logout").then(() => {
        location.href = "/";
        /* this.$store.commit("SET_LOGGED_IN", false);
        this.$toasted.success("You are now logged out!", { icon: "star" }); */
      });
    },
  },
};
</script>
